<style>
    li {
        display: inline;
        color: #FFF;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
    }
</style>

<li><a href="/main">Главная</a></li>
<li><a href="/anime">Аниме</a></li>
<li><a href="/comedy">Комедии</a>
<li><a href="/detective">Детективы</a>
<li><a href="/horror">Хорроры</a>